* {
	/*padding: 0;
    margin: 0;*/
    text-decoration: none;
    font-family: "Georgia", Times, serif;
    font-size: 12px;
    list-style: none;
}
.magleft110{ margin-left: 110px; }
body{}
section, div{
	display: block;
	width: 100%;
	margin: auto;
}
.bgGreen{
	background: green;
}
.fleft li{
	float: left;
	margin-right: 10px;
	margin-left: 10px;

}
/*li div{display: none;}*/

.headertop {
background-color: #3db36b!important;
height: 50px;
}
.headerbody{
	height: 90px;
}
.container {
    width: 100%;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}

.post{
	display: flex;
	flex-wrap: wrap;
}
.content{
    width: 84.6%;
}
.carddemo{
	/*padding-right: 15px;
	padding-left: 15px;*/
	margin-bottom: 50px;
	width: 90%;

}
img{
	max-width: 100%;
	margin-right: 1px;
	margin-left: 1px;

}

.itemdropdown{
	position: relative;
	display: inline-block;
}
.dropdownMN{
	position: absolute;
	display: none;
	background-color: red;
}
.itemdropdown:hover .dropdownMN{ display: block; }
